*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #2382f6;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.searchBar input{
    padding: 10px;
    width: 500px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}
.searchBar input:focus{
    outline: 0;
}
.searchBar button{
    background-color: #22C55E;
    border: 0;
    color: white;
    padding: 10px;
    font-size: 16px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;    border-radius: 4px;
}
.searchBar button:focus{
    outline: 0;
}
.container{
    margin-top: 50px;
    width: 80vw;
    padding: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 4px;
}
.center{
    display: flex;
    justify-content: center;
}
img{
    width: 400px;
    height: auto    ;
}
#name{
    font-size: 80px;
    margin-top: -50px;
    color: white;
    font-weight: 600;
}
#temperature{
    font-size: 95px;
    color: white;
    font-weight: 700;
}
.flex{
    display: flex;
    gap: 10px;
}
.flex-details{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    background-color: #2382f63d;
}
#date , #time{
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
    opacity: .9;
}
.ez{
    margin: 10px 10px;
    margin-top: -10px;
    width: 500px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    border: 0;
    margin-bottom: 20px;
}
span{
    font-weight: 400;
    font-size: 22px;

}
.flex-name{
    display: flex;
    color: white;
    font-size: 15px;
}
.error{
    background-color: rgb(0, 166, 255);
    color: white;
    padding: 10px;
    margin-top: 30px;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}
.loaderflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaderimage{
    width: 200px;
    margin-top: 20px;
    height: auto;
}
